@import "./variables";

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: $color-main;
  color: $color-text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
