@import "../sass/variables";

.item-block {
  list-style: none;
  transform: scale(1);
  transition: 0.3s;
}

.item-block:hover {
  transform: scale(1.02);
}

.user-item {
  display: flex;
  align-items: center;
  gap: 16px;
  text-decoration: none;

  &__avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
  }
  &__info {
    display: grid;
    column-gap: 8px;
    row-gap: 4px;
    grid-template-areas:
      "name tag"
      "department -";
  }
  &__name {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: black;
  }
  &__tag {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: $color-grey;
  }
  &__departament {
    margin: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #55555c;
  }
}
