@import "../sass/variables";

.active-search {
  fill: $color-purple;
  transition: 0.3s;
}

.search-block {
  margin: 6px auto;
  width: 100%;
  height: 40px;
  border-radius: 16px;
  background-color: $color-light-grey;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: 0.3s;

  &__input {
    padding: 0;
    width: calc(100% - 21px - 21px);
    height: 20px;
    background-color: $color-light-grey;
    border: none;
    outline: none;
  }

  &__icon:first-child {
    padding-left: 10px;
  }

  &__icon:last-child {
    padding-right: 10px;
  }

  &__icon:last-child:hover {
    transition: 0.3s;
    fill: $color-purple;
    cursor: pointer;
  }
}
